.Item {
    width: 80%;
    height: 10rem;
    border: 2px solid white;
    margin: 8px 8px;
    padding: 8px 4px;
    color: white;
    position: relative;
    display: flex;
    overflow: hidden;
}

.Img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.RightCont {
    width: 70%;
}

.FirstRow {
    display: flex;
    justify-content: space-between;
}

.Title {
    color: #39E991;
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
    margin-left: 1rem;
}

.Price {
    font-size: 2rem;
    margin: 0;
    margin-left: 2rem;
}

.Desc {
    margin: 1rem;
}

.OrderId {
    margin: 1rem;
}

.OrderDate {
    margin: 1rem
}

.InfoBtn {
    position: absolute;
    right: 1%;
    bottom: 5%;
}